p {
    overflow-wrap: break-word;
}

.outer {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.title {
    margin-bottom: 1.7rem;
    text-align: center;
}

.title > h1 {
    font-weight: 900;
    padding: 2rem;
    padding-bottom: 1rem;
    font-size: 50px;
}

.new-topic {
    padding: 1rem;
    margin-bottom: 3rem;
}

.row1, .row2, .row3 {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    margin: 2em 0 0 0;
}

.button-fill, .button-outline {
	border-radius:4px;
	cursor:pointer;
	padding:10px 31px;
    text-decoration:none;
    margin-bottom: 1em ;
    width: 12em;
    text-align: center;
}

.button-fill {
	background-color:#00bfa6;
	border:1px solid #ffffff;
	color:#ffffff;
}
.button-fill:hover {
    background-color:#00ddc0;
    text-decoration:none;
	color:#ffffff;

}
.button-fill:active, .button-outline:active {
	position:relative;
	top:1px;
}

.button-outline {
	background-color:#ffffff;
	border:1px solid #00bfa6;
	color:#00bfa6;
}
.button-outline:hover {
    background-color:#00bfa6;
    color: #ffffff;
    text-decoration: none;
}

/* crispy forms */
.asteriskField {
    display: none;
  }

/* root.html */
.threads {
    width: 100%;
}

.searchbox {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

.thread-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-top: 2.1rem;
    padding: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),
    0 2px 10px 0 rgba(0,0,0,.12);
}

.profile-img {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    margin-right: 17px;
}

.profile-img > img {
    display: block;
    height: 50px;
    width: 50px;
}

.direct-answer {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 17px;
}


.thread-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.topic {
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.topic > a {
    color: black;
    overflow-wrap: anywhere;
}

.t-id {
    font-size: 14px;
    margin-top: 7px;
}

.direct-answer > a {
    color: #00bfa6;
    font-weight: 700;
}

@media screen and (max-width: 1090px) {
    .thread-item {
        align-items: center;
        justify-content: space-between;
    }   

    .profile-img {
        display: none;
    }

    .thread-desc {
        width: 80%;
    }

    .direct-answer {
        width: 5rem;
    }
}

@media screen and (max-width: 565px) {
    .thread-item {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }    
        
    .thread-desc {
        text-align: center;
        width: 100%;
    }

    .direct-answer {
        width: 100%;
        margin-left: 0;
        margin-top: 1.7rem;
    }
}

@media screen and (max-width: 400px) {
    .topic {
        font-size: 17px;
    }

    .t-id {
        font-size: 11px;
    }

    .direct-answer {
        margin-top: 15px;
        font-size: 15px;
    }
}

/* topic.html */

.head-thread {
    margin-top: 50px;
    background-color: #f2f2f2;
    border-radius: 10px;
    width: 100%;
    padding: 1rem;
    padding-right: 4rem;
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),
    0 2px 10px 0 rgba(0,0,0,.12);
}

.reply-img {
    margin-right: 2.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.7rem;
}

.reply-img > img {
    align-self: flex-start;    
    height: 50px;
    width: 50px;
}
.topic-content {
    width: inherit;
}

.topic-bundle {
    margin-top: 5px;
    margin-bottom: 20px;
}

.topic > span {
    color: black;
    overflow-wrap: anywhere;
}

.bottom-button {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
}

.reply-button {
    color:#00bfa6 !important;
}

.reply-button:hover {
    color:#00af98;
}

.delete {
    color: #f86d70 !important;
    margin-left: 30px;
}

.delete:hover {
    color: red !important;
}

.replies {
    margin: 30px;
    padding-left: 7%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.reply {
    margin-top: 25px;
    background-color: #f2f2f2;
    width: 100%;
    padding: 1rem;
    padding-left: 2rem;
    border-radius: 10px;
    padding-right: 4rem;
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),
    0 2px 10px 0 rgba(0,0,0,.12);
}

.content {
    text-align: justify;
}

.cancel-button {
    color: #00bfa6 !important;
}

.cancel-button:hover {
    color: #ffffff !important;
}


@media screen and (max-width: 460px) {
    .head-thread {
        padding-right: 2rem;
    }

    .topic {
        text-align: center;
    }

    .replies {
        padding-left: 0;
    }

    .reply {
        padding-right: 2rem;
    }

    .reply-img {
        display: none;
    }

    .bottom-button {
        justify-content: center;
        align-items: center;
    }
}

/* add_reply.html */

.reply-content {
    margin-top: 50px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: #ffffff;
    width: 100%;
    padding: 1rem;
    padding-right: 4rem;
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    border: 2px solid #00bfa6;
}

.text-reply  {
    display: flex;
    flex-direction: column;
}

.text-content {
    width: 100%;
    border-radius: 5px;
    height: 10rem;
    resize: none;
}

#button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 0.7rem;
    margin-top: 1rem;
}

.button-fillet, .button-outlined {
	border-radius:4px;
	cursor:pointer;
    text-decoration:none;
    width: 10em;
    height: 2.2rem;
    vertical-align: middle;
    text-align: center;
}

.button-fillet {
	background-color:#00bfa6;
	border:1px solid #ffffff;
    color:#ffffff;
    margin-left: 2rem;
}

.button-outlined {
	background-color:#ffffff;
	border:1px solid #00bfa6;
    color:#00bfa6;
    padding-top: 4.5px;
}

.button-outlined:hover {
    background-color:#00bfa6;
    color: #ffffff;
    text-decoration: none;
}

.button-fillet:hover {
    background-color:#00ddc0;
    text-decoration:none;
	color:#ffffff;
}

@media screen and (max-width: 745px) {
    .addreply.reply-img {
        display: none;
    }

    .reply-content {
        padding-right: 2rem;
    }

    .replies {
        padding-left: 0;
    }
}

@media screen and (max-width: 550px) {
    #button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #button > .button-outlined {
        width: 100%;
        margin-top: 10px;
        order: 2;
    }

    #button > .button-fillet {
        width: 100%;
        margin: 0;
        margin-top: 5px;
        order: 1;
    }
}


@media screen and (max-width: 400px) {
    .content > p{
        font-size: 14px;
    }

    .text-content {
        font-size: 12px;
    }

    #button {
        font-size: 12px;
    }

    #button > .button-outlined {
        padding-top: 7.5px;
        vertical-align: middle;
        font-size: 12px;
        width: 100%;
        margin-top: 10px;
        order: 2;
    }

    #button > .button-fillet {
        width: 100%;
        margin: 0;
        margin-top: 5px;
        order: 1;
    }
}

/* add_thread.html */
.add-thread {
    width: 100%;
}

#div_id_topic {
    width: 100%;
}

#div_id_topic .textinput.textInput.form-control {
    width: 100%;
    padding: 0;
    margin: 0;
}

#div_id_content textarea {
    height: 10.8rem;
    resize: none;
}

#buttonclub {
    display: flex;
    flex-direction: row;
    margin-top: 2.5rem;
}

#button1 {
    text-align: center;
    margin-right: 20px;
    display: block;
    width: 12rem;
    text-align: center;
}

#button2 {
    display: block;
    width: 12rem;
}

@media screen and (max-width: 490px) {
    #buttonclub {
        flex-direction: column;
        align-items: center;
        margin-top: 2.5rem;
    }

    #button1, #button2 {
        margin: 0;
        margin-bottom: 10px;
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .title > h1{
        font-size: 40px;
    }

    .add-thread label {
        font-size: 13px;
    }

    #buttonclub {
        font-size: 12px;
    }
}