#content {
    margin : 1rem; 
}

img {
    width: 40%; 
}

#profpic {
    width: 10%;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    img {
        width: 75%;
    } 
    
}