{% extends 'base.html' %}
{% load static %}
{% load tz %}

{% block meta %}
<title>Forum Konsultasi</title>
<link rel="stylesheet" type="text/css" href="{% static 'forum.css' %}">
{% endblock meta %}

{% block content %}
<div class='outer' id="root">
    <div class="title">
        <h1>Forum Konsultasi</h1>
    </div>
    <div class="new-topic">
        <a class="button-fill" href="add/">Buka Topik Baru</a>
    </div>
    <div class="searchbox">
        <input id="searchbox" type="text" placeholder="Cari topik">
    </div>
    <div class="threads">
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'forum.js' %}"></script>
{% endblock script %}