{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Forum Konsultasi</title>
<link rel="stylesheet" type="text/css" href="{% static 'forum.css' %}">
{% endblock meta %}

{% block content %}
<div class='outer'>
    <div class="title">
        <h1>Forum Konsultasi</h1>
    </div>
    <div class="head-thread">
        <div class="reply-img">
            {% if thread.user.profile.isTenagaMedis %}
                <img src="{% static 'img/tenaga_medis.svg'%}" alt="">
            {% else %}
                <img src="{% static 'img/default.svg'%}" alt="">
            {% endif %}
        </div>
        <div class="topic-content">
            <div class="topic-bundle">
                <div class="topic">
                    <span>{{ thread }}</span>
                </div>
                <div class="t-id">
                    {% if thread.user.profile.isTenagaMedis %}
                        <p style="display: inline; color:#00bfa6; font-weight: 600;">{{ thread.user.username }}</p>
                    {% else %}
                        <p style="display: inline; font-weight: 600;">{{ thread.user.username }}</p>
                    {% endif %}
                    <p style="display: inline; color: gray;"> Posted on {{ thread.date_posted }}</p>
                    {% if reply.is_edited %}
                        <p style="display: inline; color: gray;"> (edited)</p>
                    {% endif %}
                </div>
            </div>
            <div class="content">
                <p>{{ thread.content }}</p>
            </div>
            <div class="bottom-button">
                {% if user.is_authenticated %}
                    <a class="reply-button newreply">Jawab</a>
                        {% if user == thread.user %}
                            <a class="delete" href="delete/">Hapus</a>
                        {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="replies">
        {% if user.is_authenticated %}
        <div class="reply-content addreply" style="display:none;">
            <div class="reply-img addreply">
                {% if user.profile.isTenagaMedis %}
                    <img src="{% static 'img/tenaga_medis.svg'%}" alt="">
                {% else %}
                    <img src="{% static 'img/default.svg'%}" alt="">
                {% endif %}
            </div>
            <div class="topic-content">
                <div class="topic-bundle">
                    <div class="t-id">
                        {% if user.profile.isTenagaMedis %}
                            <p style="display: inline; color:#00bfa6; font-weight: 600;">{{ user.username }}</p>
                        {% else %}
                            <p style="display: inline; font-weight: 600;">{{ user.username }}</p>
                        {% endif %}
                    </div>
                    <div class="topic">
                        <span>Reply: {{ thread }}</span>
                    </div>
                </div>
                <div class="text-reply">
                    <form class="new-form" action="submit/" method="POST">
                        {% csrf_token %}
                        <textarea class="text-content" name="content" cols="30" rows="10" placeholder="Tulis jawabanmu" style="padding: 10px;" required>{{ default }}</textarea>
                        <div id="button">
                            <a class="button-outlined cancel-button">Cancel</a>
                            <input class="button-fillet" type="submit" value="Jawab">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
        {% if replies %}
        {% for reply in replies %}
            <div class="reply">
                <div class="reply-img">
                    {% if reply.user.profile.isTenagaMedis %}
                        <img src="{% static 'img/tenaga_medis.svg'%}" alt="">
                    {% else %}
                        <img src="{% static 'img/default.svg'%}" alt="">
                    {% endif %}
                </div>
                <div class="topic-content">
                    <div class="topic-bundle">
                        <div class="topic">
                            <span>Re: {{ thread }}</span>
                        </div>
                        <div class="t-id">
                            {% if reply.user.profile.isTenagaMedis %}
                                <p style="display: inline; color:#00bfa6; font-weight: 600;">{{ reply.user.username }}</p>
                            {% else %}
                                <p style="display: inline; font-weight: 600;">{{ reply.user.username }}</p>
                            {% endif %}
                            <p style="display: inline; color: gray;"> Posted on {{ reply.date_posted }}</p>
                            {% if reply.is_edited %}
                                <p style="display: inline; color: gray;"> (edited)</p>
                            {% else %}
                                <p style="display: none; color: gray;"> (edited)</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="content">
                        <p>{{ reply }}</p>
                    </div>
                    <div class="bottom-button">
                        {% if user.is_authenticated %}
                            {% if user == reply.user %}
                                <a class="reply-button edit-button" data-id="{{ reply.id }}">Edit</a>
                                <a class="delete delete-reply" data-id="{{ reply.id }}">Hapus</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if user.is_authenticated %}
                {% if user == reply.user %}
                    <div class="reply-content editreply" style="display:none;">
                        <div class="reply-img addreply">
                            {% if user.profile.isTenagaMedis %}
                                <img src="{% static 'img/tenaga_medis.svg'%}" alt="">
                            {% else %}
                                <img src="{% static 'img/default.svg'%}" alt="">
                            {% endif %}
                        </div>
                        <div class="topic-content">
                            <div class="topic-bundle">
                                <div class="t-id">
                                    {% if user.profile.isTenagaMedis %}
                                        <p style="display: inline; color:#00bfa6; font-weight: 600;">{{ user.username }}</p>
                                    {% else %}
                                        <p style="display: inline; font-weight: 600;">{{ user.username }}</p>
                                    {% endif %}
                                </div>
                                <div class="topic">
                                    <span>Reply: {{ thread }}</span>
                                </div>
                            </div>
                            <div class="text-reply">
                                <form class="edit-form" method="POST">
                                    {% csrf_token %}
                                    <textarea class="text-content" name="content" cols="30" rows="10" placeholder="Tulis jawabanmu" style="padding: 10px;" required></textarea>
                                    <div id="button">
                                        <a class="button-outlined cancel-button">Cancel</a>
                                        <input class="button-fillet" type="submit" value="Edit" data-id={{ reply.id }}>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'forum.js' %}"></script>
{% endblock script %}