{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>{{obj.title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/artikel.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/details.css' %}">
{% endblock meta %}

{% block content %}

<div class="container pb-5">
    <div class="row1 text-center" >
        <h3 id="title"></h3>
        <p class="text-muted" id="time_posted"></p>
        <div class="row mx-auto" style="justify-content:center;" id="author"></div>
    </div>
    <div class="row2" id="img"></div>
    <div class="row3 text-justify">
      <p style="word-break:break-word;" id="content"><!--{{obj.content | linebreaksbr}}--></p>
    </div>
</div>

{% endblock content %}

{% block extra_script %}
  <script src="{% static 'js/details.js' %}" ></script>
{% endblock extra_script %}