{% extends 'base.html' %}
{% load static %}


{% block meta %}
<title>Artikel</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/artikel.css' %}">
{% endblock meta %}

{% block content %}

<div class="container pb-5">
  <div class="row1">
    <h1>Artikel</h1>
    <a class="btn btn-primary" href="{% url 'artikel:add' %}" role="button">+ Tambah Artikel</a>
    <br>
  </div>
  <br>

<div id="result">
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/artikel.js' %}" ></script>

{% endblock content %}
