{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% block meta %}
  {% endblock meta %}
</head>

<body>
  <nav class="mb-4 navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand ml-3" href="{% url 'main:home' %}">SeputarCOVID</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText1" aria-controls="navbarText1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText1">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-3">
                <a class="nav-link waves-effect waves-light" href="{% url 'artikel:home' %}">Artikel <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link waves-effect waves-light" href="/forum">Konsultasi</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link waves-effect waves-light" href="{% url 'lapordiri:home' %}">Lapor Diri</a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-link waves-effect waves-light" href="/donasi">Beri Donasi</a>
            </li>
            {% if user.is_authenticated %}
              <li class="nav-item mr-3">
                <a class="nav-link waves-effect waves-light" href="{% url 'main:logout' %}">Logout</a>
              </li>
            {% else %}
              <li class="nav-item mr-3">
                <a class="nav-link waves-effect waves-light" href="{% url 'main:login' %}">Login</a>
              </li>
            {% endif %}

        </ul>
    </div>
  </nav>
   <!-- navbar provided by https://bootsnipp.com/snippets/lVrVa -->


  {% block content %}
  {% endblock content %}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  {% block extra_script %}
  {% endblock extra_script %}

</body>
  {% block script %}
  {% endblock script %}
</html>
