{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block meta %}
<title>Seputar Covid</title>
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
<script src="{% static 'register.js' %}"></script>
{% endblock meta %}

{% block content %}
<div class="big-row">
  <div class="column1">
    <div class="container1">
      <div class="row1">
        <h1>SeputarCOVID</h1>
        <h5> portal aplikasi seputar COVID-19</h5>
      </div>
      
      <div class="row2">
        <img src="{% static 'img/welcome-image.svg' %}">
      </div>
      
      <div class="row3" id="welcome">
        {% if user.is_authenticated %}
            <h2> Selamat datang {{ user.username }}</h2>
        {% endif %}
      </div>
    </div>
  </div>
  {% if not user.is_authenticated %}
    <div class="divider"></div>
    <div class="column2">
        <div class="row1" id="login-div">
          <div class="row1">
            <h1 class="column-header"> Login </h1>
          </div>
          <form class="form-field" method="POST">
            {% csrf_token %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }} mx-auto">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
            <fieldset class="form-group">
              <input type="text" name="username" placeholder="Username" class="textinput form-control login-form" id="username-input">
              <input type="password" name="password" placeholder="Password" class="textinput form-control login-form" id="password-input">
            </fieldset>
            <div class="row3">
              <button class="button-fill" type="submit"> Login </button>
            </div>
          </form>
          <small class="text-muted">
            Belum punya akun? <a class="ml-2" id="register-goto">Daftar</a>
          </small>
        </div>
        <div class="row1" id="register-div" style="display: none;">
          <h1 class="register-header"> Buat Akun Baru </h1>
          <form id="register-form" method="POST">
            {% csrf_token %}
            <fieldset>
              {{ form|crispy }}
            </fieldset>
            <div class="row3">
              <button class="button-fill" type="submit" disabled id="register_submit"> Daftar </button>
            </div>
          </form>
          <small class="text-muted">
            Sudah punya akun? <a class="ml-2" id="login-goto">Login</a>
          </small>
        </div>
    </div>
  {% endif %}
</div>


{% endblock content %}
