{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load static %}


{% block meta %}
    <style>
        .button-fill {
            border-radius: 8px;
            cursor: pointer;
            padding: 10px 100px;
            text-decoration: none;
            margin-bottom: 1em;
            text-align: center;
        }

        .button-fill {
            background-color: #00bfa6;
            border: 1px solid #ffffff;
            color: #ffffff;
        }

        {#.button-fill:hover {#}
        {#    background-color: #00ddc0;#}
        {#    text-decoration: none;#}
        {#    color: #ffffff;#}
        {##}
        {
        #}#}

        .button-fill:active {
            position: relative;
            top: 1px;
        }
    </style>
{% endblock meta %}

{% block content %}
    {% language 'de' %}
        <div class="isi-halaman">
            <div style="text-align: center; width: 100%; font-weight: 900; font-size: 45px; margin-top: 65px">
                <p>Donasi</p>
            </div>
            <div style="text-align: center; margin-top: 30px ">
                <img src="{% static 'images/donasi.png' %}">
            </div>
            <div style="text-align: center">
                <p style="font-weight: bold; font-size: 20px ; margin-top: 20px">Total Donasi Terkumpul</p>
            </div>
            <div style="color: #00BFA6; text-align: center;font-weight: 900">
                <div style="font-size: 50px;">
                    Rp
                    <div style="display:inline;" id='donasi'></div>
                </div>
                <div style="margin-top: 18px; height: 150px">
                    <a class="button-fill" href="form/"> Donasi Sekarang </a>
                </div>
            </div>
        </div>
    {% endlanguage %}
{% endblock content %}
{% block extra_script %}
    <script>
        const url = window.location.pathname;
        var myVar = setInterval(donasiTotal, 5000);
        function donasiTotal() {
            $.ajax({
                type: 'GET',
                url: `/donasi/data/`,
                success: function tes(json) {
                    donasi = json.total_donasi
                    temp = " " + donasi
                    document.getElementById("donasi").innerHTML = temp;
                }
            });
        }

        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: `/donasi/data/`,
                success: function tes(json) {
                    donasi = json.total_donasi
                    temp = " " + donasi
                    document.getElementById("donasi").innerHTML = temp;
                }
            });
        })
        $(".button-fill").click(function () {
            $(this).css({"border-color": "#222222", 'border-width': "2px"});
        });
        $(".button-fill").mouseenter(function () {
            $(this).css({"background-color": "#00ddc0", "text-decoration": "none", "color": "#ffffff"});
        });

        $(".button-fill").mouseleave(function () {
            $(this).css({"background-color": "#00bfa6", "color": "#ffffff"});
        });
    </script>
{% endblock extra_script %}
