{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block meta %}
    <style>
        .button-fill {
            border-radius: 8px;
            cursor: pointer;
            padding: 10px 75px;
            text-decoration: none;
            margin-bottom: 1em;
            text-align: center;
            font-weight: bold;
            font-size: 20px;
        }

        .button-fill {
            background-color: #00bfa6;
            border: 1px solid #ffffff;
            color: #ffffff;
        }

        .button-fill:hover {
            background-color: #00ddc0;
            text-decoration: none;
            color: #ffffff;

        }

        .button-fill:active {
            position: relative;
            top: 1px;
        }

        .formDonasi {
            padding-right: 30%;
            padding-left: 30%;
        }
    </style>
{% endblock meta %}

{% block content %}
    <div id="peringatan"
         style="background-color: white; width:100%; height: 35px; text-align: center; padding-top: 5px; color: black;">
    </div>
    </div>
    <div style="width: 100%">
        <div class="donasi"
             style="text-align: center; width: 100 %; font-size: 45px; margin-top: 55px; font-weight: 900">
            <p>Donasi</p>
        </div>
        <form class="formDonasi" id="post-form" method="POST">
            {% csrf_token %}
            <fieldset class="form-data">
                {{ form|crispy }}
            </fieldset>
            <div class="tombolDonasi" style="text-align: center; margin-top: 30px">
                <button class="button-fill" type="submit">Bayar</button>
            </div>
        </form>
    </div>
{% endblock content %}
{% block extra_script %}
    <script>
        const url = window.location.pathname

        function ajax() {
            $.ajax({
                type: "POST",
                url: `/donasi/form/data/`,
                data: {
                    nama: $('#data-nama').val(),
                    nomor: $('#data-nomor').val(),
                    nominal: $('#data-nominal').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post',
                    dataType: "json"
                },
                success: function (response) {
                    console.log(response)
                    if (response.response == "true") {
                        $("#peringatan").css({"background-color": "#82e9ff"})
                        $("#peringatan").append("Terima kasih atas donasi yang anda berikan")
                    } else {
                        $("#peringatan").css({"background-color": "#fdffb1"})
                        $("#peringatan").append("Terjadi kesalahan dalam pengisian data")
                    }
                    $('#data-nama').val(""); // remove the value from the input
                    $('#data-nomor').val("");
                    $('#data-nominal').val("");
                }
            });
        }

        $("#post-form").click(function () {
            $("#peringatan").empty()
            $("#peringatan").css({"background-color": "#ffffff"})
        });

        $('#post-form').on('submit', function (event) {
            event.preventDefault();
            ajax();
        });
    </script>
{% endblock extra_script %}